*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color styles */
:root{    
--light-blue: rgb(180, 208, 231);
--light-color: rgb(255, 255, 255);
--btn-bg: rgb(0, 97, 255);
--light-grey: rgb(245, 245, 245);
--designit-logo-color: rgb(162, 211, 155);
--wbr-color: rgb(213, 0, 31);
--clearchannel-color: rgb(255, 216, 48);
--florida-color: rgb(0, 147, 206);
--topps-color: rgb(255, 28, 28);
--arizona-color: rgb(97, 8, 43);
--lonelyplanet-color: rgb(13, 36, 130);
--footer-bg: rgb(0, 0, 0);
--freetrial-text-color: rgb(120, 71, 105);

}

body{
    font-family: 'Open Sans', sans-serif;
}

.debug{
    border: 1px solid red;
}

html{
    scroll-behavior: smooth;
}

/* flex settings */
.d-flex{
    display:flex;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

/* // flex settings */

.big-container{
    max-width: 1200px;
    margin: 0 auto;
}

.small-container{
    max-width: 1000px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

.p-20{
    padding-right: 20px;
    padding-left: 20px;
}
.p-2r{
    padding-top: 2rem;
}

.p-4r{
    padding-top: 4rem;
}

.m-20{
    margin: 20px;
}

.btnB{
    background-color: var(--btn-bg);
    color: white;
    border: 0;
    padding: 5px 10px;
}

.fa-check{
    color: var(--btn-bg);
}

img{
    display:block;
}


/* title elements config */
h1{
    font-size: 5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

/* header config */

header{
    width: 100%;
    height: 54px;
    position: fixed;
    top: 0;
    background-color: var(--light-color);
    z-index: 1000;
}

.navbar{
   width: 100%;
   height: 100%;
   align-items: center; 
   border-bottom: 2px solid var(--light-grey);  
}

.logo img{
    width: 100%;
}

.anchorList{
    padding:0 10px;
}

.anchorList a{
    padding: 15px;
    text-decoration: none;
    color: var(--footer-bg);
}

.btnB a{
    text-decoration: none;
    color: var(--light-color);
}

.anchorList a:hover{
    border-bottom: 2px solid black;
}

button:hover{
    cursor: pointer;
    opacity: 0.7;
}

/* jumbo section config */

#jumbo{
    padding-top: 54px;
    background-color: var(--light-blue);
}

.contentContainer{
    width: 30%;
    margin-top: 4rem;
}

.jumboContainer{
    width: 65%;
}

.j-position{
    margin-bottom: 6%;
}

.j-position .btnB{
    padding: 15px;
}

.j-position i{
    font-size: 40px;
    position: relative;
    bottom: -30px;
}

.jumbo-img img{
    width: 100%;
    position: relative;
    bottom: -4rem;
}

.contentContainer a{
    text-decoration: none;
}

.scrollDown, .deny{
    color: black;
}

/* plans section config */
.plansTitle{
    padding-bottom: 2rem ;
}

.plansFilter{
    padding-bottom: 2rem;
}
.plansFilter span{
    margin-right: 3rem;
}

/* input radio config */


/* plans showcase config */
.plansList{
    width: 100%;
}
.p-showcase{
    margin: 20px;
    width: calc((100% / 3) - 20px );
    border: 2px solid var(--light-grey);
}

.p-showcase hr{
    width: 50px;
    border: 2px solid var(--light-grey);
    margin-left: 20px;
}

.planTarget{
    border-bottom: 2px solid var(--light-grey);
    text-align: center;
    padding: 5px;
}

.planSpace > *{
    padding: 1rem;
}

.p-showcase li{
    padding-bottom: 10px;
    text-indent: -.6rem;
}

/* planPrice div config */
.planPrice h3{
    padding-bottom: 10px;
}

.price{
    font-weight: bold;
}

.transparent{
    color: rgba(0, 0, 0, 0.5);
}

/* planTrial div config */
.planTrial{
    flex-direction: column;
    justify-content: center;
}

/* planExclusive div config */

.planExclusive{
    padding-bottom: 20px;
}

.planExclusive{
    flex-flow: row;
}

/* Plan explain section config */
.planExplain{
    border: 2px solid var(--light-grey);
    margin-top: 2rem;
}

.explainContent h3{
    padding-bottom: 10px;
}

.explainContent .price{
    padding-bottom: 50px;
}

.explainContent{
    width: 70%;
    padding-bottom: 10px;
}

.explainContact{
    width: 25%;
}

.explainContact button{
    width: 100%;
    height: 50px;
}

/* Partner section config */
.partnerFind{
    align-items: center;
}

.p-img{
    width: 60%;
    padding-right: 40px;
}

.p-img img{
    width: 100%;
}

.partnerText{
    width: 30%;
}

.partnerText h3{
    padding-bottom: 10px;
}

.partnerText p{
    padding-bottom: 20px;
}

.partnerFinder{
    background-color: white;
    border: 1px solid var(--footer-bg);
    padding: 10px;
}

/* Business section config */
#business{
    margin-top: 5rem;
}
.row{
    flex-flow: row wrap;
    justify-content: space-between;
}
.businessItem {
    width: calc((100% / 3) - 60px);
    margin-right: 20px;
    margin-bottom: 3rem;
}

.businessItem img{
    width: 100%;
}

.businessItem h3{
    padding-bottom: 10px;
}


/* Team section config */

.teamTitle h2{
    margin-bottom: 3rem;
}

.teamContainer{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    flex-flow: row wrap;
}

.logoContainer{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.logoContainer picture{
    width: 40%; 
}

.teamLogo{
    width: 100%;   
}

.textLogo{
    width: 50%;
    padding: 1rem 20px;
}

.teamText{
    flex-flow: row wrap;
    padding: 20px;
    height: calc(100vw / 3);
    background-color: var(--light-grey);
    overflow-y: scroll;
}

.teamText > picture, .teamContent{
    padding: 20px;
}

.teamContentAuthor{
    padding: 1.5rem 0 12rem 1.5rem;
}

.teamText hr{
    width: 20%;
    margin: 1rem 20px;
}


/* Team section color */

.teamLogo{
    filter: invert(1);
}

.teamText .teamLogo{
    filter: invert(0);
}


#designIt{
    background-color: var(--designit-logo-color);
}

#florida{
    background-color: var(--florida-color);
}

#arizona{
    background-color: var(--arizona-color);
}

#topps{
    background-color: var(--topps-color);
}

#wbr{
    background-color: var(--wbr-color);
}

#hearst{
    background-color: var(--light-blue);
}

#lonelyplanet{
    background-color: var(--lonelyplanet-color);
}

#clearchannel{
    background-color: var(--clearchannel-color);
}

/* Div with choose business config */

.chooseBbackground{
    background-color: var(--light-blue);
}

.chooseBcontainer{
    padding: 6rem;
}

.chooseBcontainer h2{
    color: var(--freetrial-text-color);
    width: 70%;
}

.chooseBcontainer button{
    border: 0;
    width: 170px;
    padding: 5px;
}

/* FAQ section config */

#faq{
    margin-bottom: 5rem;
}
.faqTitle{
    padding-bottom: 1.5rem;
}

.faqContainer{
    justify-content: space-between;
    align-items: center;
}

.faq{
    font-weight: bold;
    padding: 1.5rem;
}

/* footer config */
footer{
    background-color: var(--footer-bg);
}

/* footer list config */
.footerList{
    padding: 4rem 0;
}
.footerList a{
    text-decoration: none;
    color: white;
}

.footerList span{
    font-size: 20px;
    font-weight: bold;
    color: white;    
}

.footerList span, li{
    padding: 5px;
}

.footerList li{
    font-size: 16px;
}

.footerList li:hover{
    text-decoration: underline;
}

/* bottom footer config */

footer hr{
    width: 10%;
}

.bottomFooter{
    color: rgba(255, 255, 255, 0.5);
    padding: 4rem 0;
}

.bottomFooter i{
    padding-top: 4rem;
}