*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color styles */
:root{    
--light-blue: #B4D0E7;
--light-color: #FFFFFF;
--btn-bg: #0061FF;
--light-grey: #F5F5F5;
--designit-logo-color: #A2D39B;
--wbr-color: #D5001F;
--clearchannel-color: #FFD830;
--florida-color: #0093CE;
--topps-color: #FF1C1C;
--arizona-color: #61082B;
--lonelyplanet-color: #0D2481;
--footer-bg: #000000;
--freetrial-text-color: #784769;

}

body{
    font-family: 'Open Sans', sans-serif;
}

.debug{
    border: 1px solid red;
}


/* flex settings */
.d-flex{
    display:flex;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

/* // flex settings */

.big-container{
    max-width: 1200px;
    margin: 0 auto;
}

.small-container{
    max-width: 1000px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

.p-20{
    padding-right: 20px;
    padding-left: 20px;
}
.p-2r{
    padding-top: 2rem;
}

.btnB{
    background-color: var(--btn-bg);
    color: white;
    border: 0;
    padding: 5px 10px;
}

h1{
    font-size: 5rem;
}

/* header config */

header{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: var(--light-color);
}

.navbar{
   width: 100%;
   height: 100%;
   align-items: center;   
}

.anchorList{
    padding:0 10px;
}

.anchorList a{
    padding: 15px;
    text-decoration: none;
    color: var(--footer-bg);
}

.btnB a{
    text-decoration: none;
    color: var(--light-color);
}

/* jumbo section config */

#jumbo{
    padding-top: 60px;
    
}