*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color styles */
:root{    
--light-blue: #B4D0E7;
--light-color: #FFFFFF;
--btn-bg: #0061FF;
--light-grey: #F5F5F5;
--designit-logo-color: #A2D39B;
--wbr-color: #D5001F;
--clearchannel-color: #FFD830;
--florida-color: #0093CE;
--topps-color: #FF1C1C;
--arizona-color: #61082B;
--lonelyplanet-color: #0D2481;
--footer-bg: #000000;
--freetrial-text-color: #784769;

}

body{
    font-family: 'Open Sans', sans-serif;
}

.debug{
    border: 1px solid red;
}

html{
    scroll-behavior: smooth;
}

/* flex settings */
.d-flex{
    display:flex;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

/* // flex settings */

.big-container{
    max-width: 1200px;
    margin: 0 auto;
}

.small-container{
    max-width: 1000px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

.p-20{
    padding-right: 20px;
    padding-left: 20px;
}
.p-2r{
    padding-top: 2rem;
}

.p-4r{
    padding-top: 4rem;
}

.btnB{
    background-color: var(--btn-bg);
    color: white;
    border: 0;
    padding: 5px 10px;
}

.fa-check{
    color: var(--btn-bg);
}


/* title elements config */
h1{
    font-size: 5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

/* header config */

header{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: var(--light-color);
    z-index: 1000;
}

.navbar{
   width: 100%;
   height: 100%;
   align-items: center;   
}

.anchorList{
    padding:0 10px;
}

.anchorList a{
    padding: 15px;
    text-decoration: none;
    color: var(--footer-bg);
}

.btnB a{
    text-decoration: none;
    color: var(--light-color);
}

/* jumbo section config */

#jumbo{
    padding-top: 60px;
    background-color: var(--light-blue);
}

.contentContainer{
    width: 30%;
    position: relative;
    bottom: -50px;
}

.jumboContainer{
    width: 65%;
}

.j-position{
    margin-bottom: 10%;
}

.j-position .btnB{
    padding: 15px;
}

.j-position i{
    font-size: 40px;
    position: relative;
    bottom: -30px;
}

.jumbo-img img{
    width: 100%;
    position: relative;
    bottom: -60px;
}

.contentContainer a{
    text-decoration: none;
}

/* plans section config */
.plansHeader{
    margin: 20px;
}
.plansTitle{
    padding-bottom: 2rem ;
}

.plansFilter{
    padding-bottom: 2rem;
}
.plansFilter span{
    margin-right: 3rem;
}

/* plans showcase config */
.plansList{
    width: 100%;
}
.p-showcase{
    margin: 20px;
    width: calc((100% / 3) - 20px );
    border: 2px solid var(--light-grey);
}

.p-showcase hr{
    width: 50px;
    border: 2px solid var(--light-grey);
    margin-left: 20px;
}

.planTarget{
    border-bottom: 2px solid var(--light-grey);
    text-align: center;
    padding: 5px;
}

.planSpace > *{
    padding: 1rem;
}

.p-showcase li{
    padding-bottom: 10px;
}

/* planPrice div config */
.planPrice h3{
    padding-bottom: 10px;
}

.price{
    font-weight: bold;
}

.transparent{
    color: rgba(0, 0, 0, 0.5);
}

/* planTrial div config */
.planTrial{
    flex-direction: column;
    justify-content: center;
}

/* planExclusive div config */

.planExclusive{
    padding-bottom: 20px;
}

/* Plan explain section config */
.planExplain{
    border: 2px solid var(--light-grey);
    margin: 2rem 1.4rem;
}

.explainContent h3{
    padding-bottom: 10px;
}

.explainContent .price{
    padding-bottom: 50px;
}

.explainContent{
    width: 70%;
    padding-bottom: 10px;
}

.explainContact{
    width: 25%;
}

.explainContact button{
    width: 100%;
    height: 50px;
}


